<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @doctor.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @doctor.last_name %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @doctor.gender %>
</p>

<p>
  <strong>Country:</strong>
  <%= @doctor.country %>
</p>

<p>
  <strong>Region:</strong>
  <%= @doctor.region %>
</p>

<p>
  <strong>City:</strong>
  <%= @doctor.city %>
</p>

<%= link_to 'Edit', edit_doctor_path(@doctor) %> |
<%= link_to 'Back', doctors_path %>
